*.fa
*.fa.*
*.bwtdisk

*.lm
*.sm
*.str

# Compile programs
bwtdisk-prepare
dbgfm
dbgfm2

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Debugging symbols
*.dSYM
